@import "reset.css";
@import "style.css";

body {
    font-family: "Raleway", sans-serif;
    height: 1000vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 0 auto;
}

.add-invest {
    margin-top : 130px;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 250px;
    margin-bottom: 0;


}

.add-invest button{
    background-color: #F8F988;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 20px 30px;
    width: 150px;
    height:50px;
    cursor: pointer;
}

.list-wrap {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0;
}

.list-outline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1500px;
    /* background-color: red; */
}

.list-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    height: 800px;
    width: 1200px;
    margin: 100px;
    padding: 20px;
    gap: 30px;
}

.list-each {
    background-color: #ffffff;
    width: 300px;
    height: 200px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;

}

.list-each:hover {
    background-color: #537FE7;
    transition: 0.1s ease-out;
    opacity : 0.7;
}

.list-each:not(:hover) {
    transition: 0.1s ease-out;
}

.invest-logo {
    width: 40px;
    height: 40px;
    /*border: 1px solid black;*/
    border-radius: 5px;
    margin-left: 10px;
    padding: 5px;
}

.invest-subject {
    width: 90%;
    height: 30px;
    /*border: 1px solid black;*/
    margin: auto;
    padding: 5px;
}

.invest-content {
    width: 90%;
    height: 100px;
    /*border: 1px solid black;*/
    margin: auto;
    padding: 5px;
    font-weight: 100;
}
