<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}" lang="ko">
<body>
<div layout:fragment="content">
  <div class="invest-detail">
    <div class="list-wrap">
      <div class="list-container">
        <div class="list-each">
          <div class="invest-logo" th:text="${investDetail.imgUrl}"></div>
          <div class="invest-subject" th:text="${investDetail.subject}"></div>
          <div class="invest-content" th:text="${investDetail.content}"></div>
          <button><a th:href="@{|/invest/delete/${investDetail.id}|}" class="">삭제</a></button>
          <button><a th:href="@{|/invest/modify/${investDetail.id}|}" class="">수정</a></button>
        </div>
     </div>
    </div>
  </div>
</div>
</body>
</html>