<html layout:decorate="~{layout}"> <!--layout.html 템플릿을 상속-->
<div layout:fragment="content" class="container my-3">

    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>글번호</th>
                <th>제목</th>
                <th>내용</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="invest, loop : ${list}">
                <td th:text="${loop.count}"></td>
                <td>
                    <a th:href="@{|/invest/list/detail/${invest.id}|}" th:text="${invest.subject}"></a>
                </td>
                <td th:text="${invest.content}"></td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/invest/create}" class="btn btn-primary">질문 등록하기 (관리자만 가능)</a>
</div>
</html>
