<html  xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}" lang="ko"> <!--layout.html 템플릿을 상속-->
<body>
<div layout:fragment="content" class="invest-detail" style="">

    <div class="invest-detail_container">
    <form th:action="@{/finpoint/invest/list/detail/${investDetail.id}}" class="form-box">
        <div class="text-box">
            <h2 class="text-subject" th:text="${investDetail.subject}"></h2>
            <div class="text-content" th:text="${investDetail.content}"></div>
        </div>
        <div class="btn-box">

            <button class="btn">
            <a th:href="@{|/finpoint/invest/delete/${investDetail.id}|}" id="delete" >삭제</a>
            </button>
            <button class="btn">
            <a th:href="@{|/finpoint/invest/modify/${investDetail.id}|}">수정</a>
            </button>
        </div>



        <div class="like-container" th:if="${#request.getCookies()!= null}">
            <!-- or th:unless="${#strings.equals(investDetail.getMember().getEmail(),login_email)}"-->
            <!-- 로그인 유저와 작성자가 동일하지 않다면 -->
            <!-- 좋아요 -->
            <input type="hidden" id="like_check" th:value="${like}" />
            <input type="hidden" id="investId" th:value="${investDetail.id}"/>
            <img th:id="likeImg" src="/images/likes-before.png" alt="" width="30px" height="30px">
            <span class="like-count" th:text="${investDetail.likeCnt}"></span>
        </div>

        <div class="like-container" th:if="${#request.getCookies()== null}">
            <!-- 로그인하지 않은 유저라면 -->
            <img id="loginCheck" src="/images/likes-before.png" alt="" width="30px" height="30px">
            <span th:text="${investDetail.likeCnt}"></span>
        </div>
    </form>
        <form class="form-box2"
                th:action="@{|/finpoint/invest/list/detail/${investDetail.id}/buy|}"
                th:object="${count}"
                method="post">
            <div class="text-content2">조각 (개당) 가격 : </div>
            <div class="text-content2-number" th:text="${piece.price}"></div>
            <div class="text-content2" >조각 (구매 가능) 갯수 : </div>
            <div class="text-content2-number" th:text="${piece.count}"></div>
<!--아이디, 구매할 조각 수-->
            <label class="text-content2" for="count">구매 수량</label>
            <input class="input-buy" type="text"  id="count" name="count"  placeholder="구매 수량을 입력해주세요." th:maxlength="8"/>
            <button class="btn-buy" >조각 구매</button>

        </form>


    </div>



</div>

<script>

</script>
</body>
</html>