<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}" lang="ko">
<body>
<div layout:fragment="content">
        <div class="add-invest">
            <button th:onclick="|location.href='@{/invest/create}'|">
                투자 등록
<!--                <a th:href="@{/invest/create}" >투자 등록</a>-->
            </button>
        </div>

        <th:block class="list-wrap">
            <div class="list-container" >
                <div th:each="invest, loop : ${list}" class="list-each">
                    <a th:href="@{|/invest/list/detail/${invest.id}|}">
                        <div>
<!--                            <div class="invest-logo" th:text="${invest.file_id}"></div>-->
                            <div class="invest-subject" th:text="${invest.subject}"></div>
                            <div class="invest-content" th:text="${invest.content}"></div>
                        </div>
                    </a>
                </div>
            </div>
        </th:block>

</div>
</body>
</html>


