<!DOCTYPE html>
<html layout:decorate="~{layout}">

<body>
<div layout:fragment="content" >
  <div class="create-container">
    <form
            th:action="@{/invest/create}"
            th:object="${investDto}"
            method="post"
    >
      <div class="input-each">
        <label class="input-label-font" for="title">투자상품명</label>
        <input class="input-class" type="text" th:field="*{subject}" id="title" name="title" placeholder="투자상품명 입력"/>
      </div>

      <div class="input-each">
        <label for="content" class="input-label-font">상품설명</label>
        <textarea
                placeholder="상품설명 입력"
                class="textarea-class"
                th:field="*{content}"
                id="content"
                name="content"
        ></textarea>
      </div>

      <div class="input-each">
        <label for="file" class="input-label-font">이미지 추가
        </label>
        <input
                type="file"
                name="file"
                id="file"
                class="input-image"
                accept="image/*"
                placeholder="이미지 올리기"
        />
      </div>

      <div class="input-each">
        <button type="submit" class="create-button">등록하기</button>
      </div>
    </form>
  </div>
</div>
</body>
</html>