<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{bootstrap.min.css}">
    <!-- inline CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/invest_list.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/invest_create.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/invest_detail.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}">

    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Grandiflora+One&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>


    <title>Fin point</title>
</head>
<body>
<!-- 네비게이션 바 -->
<div th:replace="~{navbar :: navbarFragment}"></div>
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
<th:block layout:fragment="content"></th:block>
<!-- 기본 템플릿 안에 삽입될 내용 End -->
<!-- Bootstrap JS -->
<script th:src="@{../static/bootstrap.min.css}"></script>


<!-- 자바스크립트 Start -->
<th:block layout:fragment="script"></th:block>
<!-- 자바스크립트 End -->

<!--<script th:inline="javascript">-->
<!--    const btn = document.getElementById("btn");-->

<!--    function test() {-->
<!--        alert("hi");-->
<!--    }-->
<!--    btn.addEventListener("click", test)-->
<!--</script>-->
<script>

    const clickLikeUrl = "/images/likes-after.png";
    const emptyLikeUrl = "/images/likes-before.png";

    // /** 좋아요 유무에 따라 하트 그림 다르게 보여줌 **/
    //브라우저가 웹 문서를 읽기 시작하고 DOM이 생성되면 실행되는 메소드
    $(function() {

        // 현재 로그인한 유저가 해당 게시물을 좋아요 했다면 likeVal = true,
        // 좋아요하지 않았다면 false
        let likeVal = $('#like_check').val(); // 데이터가 있으면 true
        const likeImg = $('#likeImg');

        console.log("likeVal : " + likeVal);

        if (likeVal === 'true') {
            // 데이터가 존재하면 화면에 채워진 하트 보여줌
            $('#likeImg').attr("src", clickLikeUrl);
        } else if (likeVal === 'false') {
            // 데이터가 없으면 화면에 빈 하트 보여줌
            $('#likeImg').attr("src", emptyLikeUrl);
        }
    });

    // $("#likeImg").click(function(){
    //     alert("input id 클릭");
    // });

    //좋아요 클릭시 실행
    $('#likeImg').click(function () {

        const investId = $('#investId').val();
        const likeVal = $('#like_check').val();

        console.log("likeVal typeof : ",typeof likeVal," , likeVal :", likeVal );
        console.log("investId", investId);
        console.log("like_check",like_check);
        if (likeVal === 'true') {
            const con_check = confirm("좋아요 취소하시겠습니까?")
            if (con_check) {
                console.log("좋아요 취소 진입");
                $.ajax({
                    type: 'POST',
                    url: '/invest/list/detail/like/' + investId,
                    contentType: 'application/json; charset=utf-8'
                }).done(function () {

                    $('#likeImg').attr("src", emptyLikeUrl);

                    location.reload();
                }).fail(function (error) {
                    alert(JSON.stringify(error));
                })
            }
        } else if (likeVal === 'false') {
            const con_check = confirm("좋아요 하시겠습니까?");
            if (con_check) {
                console.log("추천 진입");
                $.ajax({
                    type: 'POST',
                    url: '/invest/list/detail/like/' + investId,
                    contentType: 'application/json; charset=utf-8'
                }).done(function () {

                    $('#likeImg').attr("src", clickLikeUrl);

                    location.reload();
                }).fail(function (error) {
                    alert(JSON.stringify(error));
                })
            }
        }
    });




    // /** 로그인하지 않은 유저가 좋아요 누를 때 **/
    $('#loginCheck').click(function () {
        alert("로그인 후 이용할 수 있습니다.");
    });

    // /** 삭제 알림 **/
    $('#delete').click(function () {
        alert("삭제 되었습니다.");
    });

</script>

</body>
</html>