<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<button id="googleLogin">Google 로그인</button><br><br>
<button onclick="authorizationForNaver()">네이버로그인</button><br><br>
<button onclick="authorizationForKakao()">카카오 로그인</button>

<script>
    document.getElementById('googleLogin').addEventListener('click', function () {
        fetch("/finpoint/oauth/google", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
        })
            .then((response) => response.text())
            .then(function (data) {
                window.open(data, '_blank', 'width=600,height=800, top=100, left=700, scrollbars=yes, resizable=yes');
            });
    });
</script>

<script>
    function authorizationForNaver() {
        fetch("/finpoint/oauth/naver", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
        })
            .then((response) => response.text())
            .then(function (data) {
                window.open(data, "로그인", "width=800px,height=800px");
            })
    }
</script>

<script>
    function authorizationForKakao() {
        fetch("/oauth/kakao", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
        })
            .then((response) => response.text())
            .then(function (data) {
                window.open(data, "로그인", "width=800px,height=800px");
            })
    }
</script>

</body>
</html>