<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!-- css -->
    <style>
        .gradient-custom {
            /* fallback for old browsers */
            background: #6a11cb;

            /* Chrome 10-25, Safari 5.1-6 */
            background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
        }
    </style>
</head>
<body>

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <div class="mb-md-5 mt-md-4 pb-5">
                            <h14>코드를 입력하세요</h14>
                            <br><br>
                            <input type="text" name="code" id="code"/><br><br><br>
                            <button class="btn btn-outline-light btn-lg px-5" onclick="requestConfirm()">코드 확인</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>
    function requestConfirm() {
        const code = document.getElementById('code').value
        const data = {code:code}
        $.ajax({
            async: true,
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json',
            url: "http://localhost:8080/finpoint/mailconfirm",
            success: function (data) {
                window.location.href = "/invest/list";
            },
            error: function (textStatus) {
                alert(textStatus);
            }
        });
    }
</script>

</body>
</html>