<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}" lang="ko">
<nav th:fragment="navbarFragment" class="nav-bar" >
    <div class="nav-container">
        <div >
            <a th:href="@{/}">
                <img th:src="@{/images/finpoint-logo.png}" class="logo"  alt="image"  src=""/>
            </a>
        </div>
        <div class="services">
    <!--        <a >홈</a>-->
            <a th:href="@{/finpoint/invest/list}" >조각투자</a>
            <a th:href="@{/finpoint/ranking}">랭킹</a>
        </div>
        <div class="mypage-logout">
            <button th:onclick="|location.href='/finpoint/mypage'|" class="mypage">마이페이지</button>
            <button th:if="${#request.getCookies()== null}" th:onclick="|location.href='/finpoint/login'|" class="logout">로그인</button>
<!--            <button th:if="${#request.getCookies()!= null}" th:onclick="|location.href='/finpoint/login'|" class="logout">로그아웃</button>-->
        </div>
    </div>
</nav>
</html>
