<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/ranking/css/ranking.css" />
</head>
<body>

<ol id="memberList" style="--length: 5" role="list">
    <li th:each="member, i : ${memberPage.content}">
        <img th:src="@{/images/}+${member.image}"/>
        <div><th:block th:text="${member.nickname}"></th:block></div>
        <div><th:block th:text="${member.email}"></th:block></div>
        <div><th:block th:text="${member.totalPrice}"></th:block></div>
    </li>
</ol>

<script src="/ranking/js/ranking.js"></script>

</body>
</html>